@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

#heroImage {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 100vw;
    min-height: 27.5vh;
    aspect-ratio: 1622 / 882;
    z-index: -1;
}

#heroImage > img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center;

    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 75%, rgba(0,0,0,0));

    filter: brightness(.6) blur(2px);
}

img#logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1500;
    transition: all 0.3s;
    filter: drop-shadow(0px 2px 6px rgba(0,0,0, .8));
    object-fit: contain;
}

#logo:not(.stepO):not(.stepTw):not(.stepTh):not(.stepF) {
    width: 45vw;
    top: 4.5em;
}

#logo.stepO {
    width: 37.5vw;
    top: 1.5em;
}

#logo.stepTw {
    width: 27.5vw;
    top: .75em;
}

#logo.stepTh {
    width: 18vw;
    top: .75em;
}

#logo.stepF {
    height: 3.5em;
    top: .5em;
}

#fakeLogo {
    width: 45vw; aspect-ratio: 640/129; margin-bottom: 4rem;
}

.maxWidthHeader {
	margin-left: auto;
	margin-right: auto;
	width: clamp(16rem, 90vw, 92.5rem);
	max-width: unset;
	padding: unset;
}

@media (max-width: 991.98px) {
    #logo:not(.stepO):not(.stepTw):not(.stepTh):not(.stepF) {
        width: 85vw;
    }

    #logo.stepTw, #logo.stepTh {
        width: 42.5vw;
        top: .5em;
    }

    #logo.stepF {
        height: 2.75em;
    }

    #fakeLogo {
        width: 85vw;
    }
}

:root {
    --bs-emphasis-color-rgb: 255,255,255;
}

.navbar {
    background-color: #282b14;
}

.navbar.navbar-landing-expand {
    background-color: #282b14AA;
}


#subtitle {
    font-family: "Archivo Black";
    font-size: 2.5rem;
}

@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: rgb(22, 22, 22);
    }

    .navbar.navbar-landing-expand {
        background-color: rgba(22, 22, 22, .75);
    }

	#heroImage > img {
        filter: brightness(.45);
    }
}